button {
  &.dark {
    background-color: #21262d;
    border-color: #30363d;
    color: #c9d1d9;
    box-shadow: 0 0 transparent, 0 0 transparent;
  }
  
  margin: 2px;
}

.code {
  &.dark {
    background-color: #21262d;
    border-color: #30363d;
    color: #c9d1d9;
    box-shadow: 0 0 transparent, 0 0 transparent;
  }

  border-radius: 4px;
  margin-right: 4px;
  padding: 2px;
  align-items: center;
  justify-content: center;

  border: 1px solid;
  border-color: rgba(27,31,35,0.15);
  background-color: #f3f3f3;
  color: #24292e;
}

@media (min-height: 1024px) {
  .code {
    font-size: 2rem;
  }
}