.container {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  padding: 0 4% 80px 4%;
}

.language-code {
  background-color: rgb(3, 177, 162);
  color: #fff;
  box-shadow: 0px 0px 5px 0px #333333;

  width: 15rem;
  height: 15rem;
  margin-top: 2rem;
  border-radius: 50%;
  border: 10px solid rgb(228, 228, 228);

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4rem;
  }
}

.translation-text {
  padding: 10px 0px;
}

@media (max-width: 250px) {
  .language-code {
    width: 10.5rem;
    height: 10.5rem;

    h1 {
      font-size: 2rem;
    }
  }
}

@media (min-height: 1024px) {
  .language-code {
    width: 25rem;
    height: 25rem;

    h1 {
      font-size: 6rem;
    }
  }

  .translation-text {
    font-size: 6rem;
  }
}