.theme-switcher {
  width: 40px;
  height: 40px;
  border-radius: 20%;

  background-color: #fafbfc;
  appearance: none;
  cursor: pointer;
  border: 2px solid;
  border-color: rgba(27,31,35,0.15);
  box-shadow: 0px 1px 0px rgba(27,31,35,0.04), inset 0px 1px 0px rgba(255,255,255,0.25);
  color: #24292e;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  top: 20px;
}